@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'icomoon';
        src: url('../fonts/icomoon.svg#icomoon') format('svg');

    }
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
	content: "\e600";
}
.icon-projects:before {
	content: "\e601";
}
.icon-blog:before {
	content: "\e602";
}
.icon-about:before {
	content: "\e603";
}

/*--------------------------------------------------------------*/



/* Global CSS that are applied for all screen sizes */
.main {
	width: 78%;
	overflow: hidden;
	margin-left: auto;
	margin-top:120px;
}
.nav ul {
	//max-width: 1240px;
	padding: 0;
	list-style: none;
	font-size: 1.3em;
	font-weight: 300;
	font-family: 'Lato';
}

.nav li span {
	display: block;
}

.nav a {
	display: block;
	color: rgba(249, 249, 249, .9);
	text-decoration: none;
	-webkit-transition: color .5s, background .5s, height .5s;
	-moz-transition: color .5s, background .5s, height .5s;
	-o-transition: color .5s, background .5s, height .5s;
	-ms-transition: color .5s, background .5s, height .5s;
	transition: color .5s, background .5s, height .5s;
}

.nav i{

	//height: 100px;
	/* Make the font smoother for Chrome */
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

/* Remove the blue Webkit background when element is tapped */

a, button {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* Hover effect for the whole navigation to make the hovered item stand out */

.no-touch .nav ul:hover a {
	color: rgba(249, 249, 249, .5);
}

.no-touch .nav ul:hover a:hover {
	color: rgba(249, 249, 249, 0.99);
}

/* Adding some background color to the different menu items */

.nav li:nth-child(6n+1) {
	background: rgb(107, 115, 157);
}

.nav li:nth-child(6n+2) {
	background: rgb(0, 172, 233);
}

.nav li:nth-child(6n+3) {
	background: rgb(106, 154, 31);
}

.nav li:nth-child(6n+4) {
	background: rgb(212, 63, 63);
}


/* For screen bigger than 800px */
@media (min-width: 50em) {

	/* Transforms the list into a horizontal navigation */
	.nav li {
		float: left;
		width: 16.6666666667%;
		text-align: center;
		-webkit-transition: border .5s;
		-moz-transition: border .5s;
		-o-transition: border .5s;
		-ms-transition: border .5s;
		transition: border .5s;
	}

	.nav a {
		display: block;
		width: auto;
	}

	/* hover, focused and active effects that add a little colored border to the different items */
	.no-touch .nav li:nth-child(6n+1) a:hover,
	.no-touch .nav li:nth-child(6n+1) a:active,
	.no-touch .nav li:nth-child(6n+1) a:focus {
		border-bottom: 4px solid rgb(68, 73, 100);
	}

	.no-touch .nav li:nth-child(6n+2) a:hover,
	.no-touch .nav li:nth-child(6n+2) a:active,
	.no-touch .nav li:nth-child(6n+2) a:focus {
		border-bottom: 4px solid rgb(0, 103, 139);
	}

	.no-touch .nav li:nth-child(6n+3) a:hover,
	.no-touch .nav li:nth-child(6n+3) a:active,
	.no-touch .nav li:nth-child(6n+3) a:focus {
		border-bottom: 4px solid rgb(63, 92, 18);
	}

	.no-touch .nav li:nth-child(6n+4) a:hover,
	.no-touch .nav li:nth-child(6n+4) a:active,
	.no-touch .nav li:nth-child(6n+4) a:focus {
		border-bottom: 4px solid rgb(127, 37, 37);
	}

	/* Placing the icon */

	.icon {
		padding-top: 1.4em;
	}

	.icon + span {
		margin-top: 2.1em;
		-webkit-transition: margin .5s;
		-moz-transition: margin .5s;
		-o-transition: margin .5s;
		-ms-transition: margin .5s;
		transition: margin .5s;
	}

	/* Animating the height of the element*/
	.nav a {
		height: 9em;
	}

	.no-touch .nav a:hover ,
	.nav a:active ,
	.nav a:focus {
		height: 10em;
	}

	/* Making the text follow the height animation */
	.no-touch .nav a:hover .icon + span {
		margin-top: 3.2em;
		-webkit-transition: margin .5s;
		-moz-transition: margin .5s;
		-o-transition: margin .5s;
		-ms-transition: margin .5s;
		transition: margin .5s;
	}

	/* Positioning the icons and preparing for the animation*/
	.nav i {
		position: relative;
		display: inline-block;
		margin: 0 auto;
		padding: 0.4em;
		border-radius: 50%;
		font-size: 1.8em;
		box-shadow: 0 0 0 30px transparent;
		background: rgba(255,255,255,0.1);
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		-webkit-transition: box-shadow .6s ease-in-out;
		-moz-transition: box-shadow .6s ease-in-out;
		-o-transition: box-shadow .6s ease-in-out;
		-ms-transition: box-shadow .6s ease-in-out;
		transition: box-shadow .6s ease-in-out;
	}

	/* Animate the box-shadow to create the effect */
	.no-touch .nav a:hover i,
	.no-touch .nav a:active i,
	.no-touch .nav a:focus i {
		box-shadow: 0 0 0 0 rgba(255,255,255,0.2);
		-webkit-transition: box-shadow .4s ease-in-out;
		-moz-transition: box-shadow .4s ease-in-out;
		-o-transition: box-shadow .4s ease-in-out;
		-ms-transition: box-shadow .4s ease-in-out;
		transition: box-shadow .4s ease-in-out;
	}

}

@media (min-width: 50em) and (max-width: 61.250em) {

	/* Size and font adjustments to make it fit into the screen*/
	.nav ul {
		font-size: 1.2em;
	}

}
/*--------------------------------------------------------------*/
* {
	margin: 0px;
}

body {
	height: 100%;
	margin: 0px;
	padding: 0px;
	background: #131313;
	color: #F6F6E8;
	overflow: hidden;
	text-align: center;
}


.rotating-wrapper {
	width: 80%;
	position: relative;
	margin: 40px auto 0 auto;
	font-family: 'Chango',Serif;
	padding: 10px;
	//overflow: hidden;
	text-align: left;
}

.rotating-sentence {

	margin: 0px;
	//text-align: left;
}

.rotating-sentence span{

	white-space: nowrap;
	font-size: 220%;
	font-weight: normal;
}

.rotating-words {
	display: inline;
	text-indent: 10px;
	margin-left: -5px;
	color: #6b739d;
}

.rotating-words span {
	position: absolute;
	opacity: 0;
	overflow: hidden;
	width: 100%;
}

.rotating-words-1 span {
	-webkit-animation: rotateWordsFirst 15s linear infinite 0s;
	-moz-animation: rotateWordsFirst 15s linear infinite 0s;
	-o-animation: rotateWordsFirst 15s linear infinite 0s;
	-ms-animation: rotateWordsFirst 15s linear infinite 0s;
	animation: rotateWordsFirst 15s linear infinite 0s;
}

.rotating-words-2 span {

	margin-left: -10px;
	-webkit-animation: rotateWordsSecond 15s linear infinite 0s;
	-moz-animation: rotateWordsSecond 15s linear infinite 0s;
	-o-animation: rotateWordsSecond 15s linear infinite 0s;
	-ms-animation: rotateWordsSecond 15s linear infinite 0s;
	animation: rotateWordsSecond 15s linear infinite 0s;
}
.rotating-words span:nth-child(2) {
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    -o-animation-delay: 3s;
    -ms-animation-delay: 3s;
    animation-delay: 3s;
    color: #00ACE9;
}
.rotating-words span:nth-child(3) {
	-webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
    color: #D43F3F;
}
.rotating-words span:nth-child(4) {
	-webkit-animation-delay: 9s;
    -moz-animation-delay: 9s;
    -o-animation-delay: 9s;
    -ms-animation-delay: 9s;
    animation-delay: 9s;
    color: #6A9A1F;
}
.rotating-words span:nth-child(5) {
	-webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s;
    color: #D43F3F;
}

@keyframes rotateWordsFirst {
    0% { opacity: 1; animation-timing-function: ease-in; height: 0px; }
    8% { opacity: 1; height: 60px; }
    19% { opacity: 1; height: 60px; }
    25% { opacity: 0; height: 60px; }
    100% { opacity: 0; }
}

@-webkit-keyframes rotateWordsFirst {
    0% { opacity: 1; animation-timing-function: ease-in; height: 0px; }
    8% { opacity: 1; height: 60px; }
    19% { opacity: 1; height: 60px; }
    25% { opacity: 0; height: 60px; }
    100% { opacity: 0; }
}
@-moz-keyframes rotateWordsFirst {
    0% { opacity: 1; animation-timing-function: ease-in; height: 0px; }
    8% { opacity: 1; height: 60px; }
    19% { opacity: 1; height: 60px; }
    25% { opacity: 0; height: 60px; }
    100% { opacity: 0; }
}
@-o-keyframes rotateWordsFirst {
    0% { opacity: 1; animation-timing-function: ease-in; height: 0px; }
    8% { opacity: 1; height: 60px; }
    19% { opacity: 1; height: 60px; }
    25% { opacity: 0; height: 60px; }
    100% { opacity: 0; }
}
@-m-keyframes rotateWordsFirst {
    0% { opacity: 1; animation-timing-function: ease-in; height: 0px; }
    8% { opacity: 1; height: 60px; }
    19% { opacity: 1; height: 60px; }
    25% { opacity: 0; height: 60px; }
    100% { opacity: 0; }
}


@-webkit-keyframes rotateWordsSecond {
    0% { opacity: 1; -webkit-animation-timing-function: ease-in; width: 0px; }
    7% { opacity: 0.3; width: 0px; }
	20% { opacity: 1; width: 100%; }
    27% { opacity: 0; width: 100%; }
    90% { opacity: 0;}
    100% { opacity: 0; }
}
@-moz-keyframes rotateWordsSecond {
    0% { opacity: 1; -moz-animation-timing-function: ease-in; width: 0px; }
    7% { opacity: 0.3; width: 0px; }
	20% { opacity: 1; width: 100%; }
    27% { opacity: 0; width: 100%; }
    100% { opacity: 0; }
}
@-o-keyframes rotateWordsSecond {
    0% { opacity: 1; -o-animation-timing-function: ease-in; width: 0px; }
    7% { opacity: 0.3; width: 0px; }
	20% { opacity: 1; width: 100%; }
    27% { opacity: 0; width: 100%; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWordsSecond {
    0% { opacity: 1; -ms-animation-timing-function: ease-in; width: 0px; }
    7% { opacity: 0.3; width: 0px; }
	20% { opacity: 1; width: 100%; }
    27% { opacity: 0; width: 100%; }
    100% { opacity: 0; }
}
@keyframes rotateWordsSecond {
    0% { opacity: 1; animation-timing-function: ease-in; width: 0px; }
    7% { opacity: 0.3; width: 0px; }
	20% { opacity: 1; width: 100%; }
    27% { opacity: 0; width: 100%; }
    100% { opacity: 0; }
}

.footer-container {
	height: 60px;
	width: 100%;
	background-color: #F6F6E8;
	position:fixed;
	bottom: 0;
	padding:5px 10px 3px 10px;
	margin-bottom: 0px;
	color: #404040;
	font-family: 'Freckle Face',Serif;
	font-size: 18px;
}


.footer-icons {
	margin: 2;
	padding: 5;
}

.footer-icons li {
	display: inline;
	padding: 5px;
}

.footer-icons li a {
	text-decoration: none;
	color: white;
	padding: 16px 16px;
}

.footer-icons li a:visited {
	color: white;
}


#twitter-ico {
	background: url('../img/twitter2.png') no-repeat 0 center;
}


#twitter-ico:hover {
	background: url('../img/twitter2_hover.png') no-repeat 0 center;
}

#facebook-ico {
	background: url('../img/facebook.png') no-repeat 0 center;
}


#facebook-ico:hover {
	background: url('../img/facebook_hover.png') no-repeat 0 center;
}

#linkedin-ico {
	background: url('../img/linkedin.png') no-repeat 0 center;
}

#linkedin-ico:hover {
	background: url('../img/linkedin_hover.png') no-repeat 0 center;
}

#google-ico {
	background: url('../img/google.png') no-repeat 0 center;
}

#google-ico:hover {
	background: url('../img/google_hover.png') no-repeat 0 center;
}

#github-ico {
	background: url('../img/github.png') no-repeat 0 center;
}

#github-ico:hover {
	background: url('../img/github_hover.png') no-repeat 0 center;
}