/* Increase the width of the content */
#wrapper {
    max-width: 750px;
}

#wrapper.home {
    max-width: 750px;
}

.profile #wrapper {
    max-width: 750px;
}

#wrapper.post {
    max-width: 700px;
}
