/* Increase the width of the content */
#wrapper {
    max-width: 750px;
}

#wrapper.home {
    max-width: 750px;
}

.profile #wrapper {
    max-width: 750px;
}

#wrapper.post {
    max-width: 700px;
}

/* Customization for posts */
.half-width {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 60%;
}

.third-width {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 33%;
}

.align-center {
    text-align: center;
}
